# Ignored Files in Assets Folder

/Polytope Studio.meta
/Samples.meta
/UniversalRenderPipelineAsset.asset
/UniversalRenderPipelineAsset.asset.meta
/UniversalRenderPipelineAsset_Renderer.asset
/UniversalRenderPipelineAsset_Renderer.asset.meta
/TextMesh Pro.meta
/Prefabs/Rejected.meta


# Ignored Directories in Assets Folder

Polytope Studio/
Samples/
TextMesh Pro/
Prefabs/Rejected/