# Ignored Files in Assets Folder
/Polytope Studio.meta
/Samples.meta
/UniversalRenderPipelineAsset.asset
/UniversalRenderPipelineAsset.asset.meta
/UniversalRenderPipelineAsset_Renderer.asset
/UniversalRenderPipelineAsset_Renderer.asset.meta
/TextMesh Pro.meta
/Unity Store/droksty/Inactive.meta
/Rejected.meta

# Ignored Directories in Assets Folder
Polytope Studio/*
!Polytope Studio/Lowpoly Medieval Demos
!Polytope Studio/Lowpoly Medieval Environments
Polytope Studio/Lowpoly Medieval Demos/*
Polytope Studio/Lowpoly Medieval Environments/*
!Polytope Studio/Lowpoly Medieval Demos/Environment_Free
!Polytope Studio/Lowpoly Medieval Environments/Sources
Polytope Studio/Lowpoly Medieval Demos/Environment_Free/*
!Polytope Studio/Lowpoly Medieval Demos/Environment_Free/Ground_Layer_01.terrainlayer

TextMesh Pro/
Unity Store/droksty/Inactive/
Rejected/